{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-6 offset-2">
        <div class="table">
                <h1>{{ input }}</h1><br>

                <table>
                    <tr>
                    <th>ID</th>
                    <th>{{ input }}</th>
                    </tr>
                    {% for item in tabledata %}
                        <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
        </div>
    </div>
    <div class="col-2 offset-2">    
        <form id="add-input-form" method="post">
                <legend>Add new {{input}}:</legend>
                <br>
                <label for="input-name">{{input}}:</label>
                <input id="input-name" type="text" name="input-name" />
            ​
                <input id="submit-btn" type="submit" value="Submit">
            </form>
            <p id="input-error-msg" style="display: none; color: red;">Input error - try again</p>
    </div>
</div>

{% endblock %}
