<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/main.css" />
        {% if title %}
            <title>{{ title }} - BrIW</title>
        {% else %}
            <title>BrIW</title>
        {% endif %}
    </head>
    <body>
        <header>
            <div class="top-nav align-self-center">
            <ul>
                <a href="/">Home</a>
                <a href="/people">People</a>
                <a href="/drinks">Drinks</a>
                <a href="/add-preference">Preferences</a>
                <a href="/add-order">Order</a>
                <a href="/round">Round</a>
            </ul>
            </div>
        </header>

        {% block content %}
        {% endblock %}
    </body>