{% extends "base.html" %}
{% block content %}
<form id="add-order-form"  method="post">
    <legend>New order:</legend>
    <br>
    <label for="person-name">Person:</label>
​    <select name="person-name">
        {% for person in people_tbl %}
        <option value="{{ person }}">{{ people_tbl[person] }}</option>
        {% endfor %}
    </select>
​    <input type="checkbox" id="kitkat" name="kitkat" value="True"> KitKat?<br>
    <input id="submit-btn" type="submit" value="Submit">
</form>
{% endblock %}